extends layout

block content

  h3 download link

  p this file link will expire in #{config.expireday} days
  div
    a(href="#{url}" id="copyurl") #{url}
  div
    button(id='copyclip' onclick="copyclip('#copyurl')") Copy to Clipboard

  script(type='text/javascript' src='/javascripts/copyclip.js')