extends layout

block content

  div.jumbotron
    h1.display-3 Welcom AzBox
    p.lead This is a simple file share service using Azure blob storage and Azure search
    hr.my-4
    p For more information about AzBox, click below link
    p.lead
      a.btn.btn-primary.btn-lg(href="https://github.com/iljoong/azure-azbox" role="button") Learn more

  h4 Configuration
  p storage account: #{config.accountName}
  p container: #{config.containerName}
  if (config.searchAccount && config.searchApiKey)
    p search: #{config.searchAccount}
    a(href='/setup') setup search service
