doctype html
html
  head
    title AzBox
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous")
  body
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous")

    nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
        a(class="navbar-brand" href="/") AzBox
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation")
                  span(class="navbar-toggler-icon")

        div(class="collapse navbar-collapse" id="navbarSupportedContent")
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a(class="nav-link" href="/upload") upload
                        span(class="sr-only") (current)
                li.nav-item.active
                    a(class="nav-link" href="/list") list
                        span(class="sr-only") (current)
                li.nav-item.active
                    a(class="nav-link" href="/setup") setup
                        span(class="sr-only") (current)

            form(class="form-inline my-2 my-lg-0" action="/search" method="POST")
                input(class="form-control mr-sm-2" type="text" placeholder="keyword" aria-label="Search" name="keyword" id="keyword")
                button(class="btn btn-outline-success my-2 my-sm-0" type="submit") Search
    p

    div.container
        block content

