extends layout

block content

    h3 Files
    table.table.table-striped
        tr
            th file name
            th date
            th size (byte)
        each item in blobs
            tr
                td
                    a(href='/sas?f=#{item.name}') #{item.name}
                td #{item.lastModified}
                td #{item.contentLength}
    
    